In [110]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [111]:
import numpy as np
import pandas as pd

In [112]:
dfBikes = pd.read_csv("day.csv")
dfBikes.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [113]:
dfBikes.shape

(730, 16)

In [114]:
dfBikes.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,365.500000,2.498630,0.500000,6.526027,0.028767,2.997260,0.683562,1.394521,20.319259,23.726322,62.765175,12.763620,849.249315,3658.757534,4508.006849
std,210.877136,1.110184,0.500343,3.450215,0.167266,2.006161,0.465405,0.544807,7.506729,8.150308,14.237589,5.195841,686.479875,1559.758728,1936.011647
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.424346,3.953480,0.000000,1.500244,2.000000,20.000000,22.000000
25%,183.250000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,13.811885,16.889713,52.000000,9.041650,316.250000,2502.250000,3169.750000
50%,365.500000,3.000000,0.500000,7.000000,0.000000,3.000000,1.000000,1.000000,20.465826,24.368225,62.625000,12.125325,717.000000,3664.500000,4548.500000
75%,547.750000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,26.880615,30.445775,72.989575,15.625589,1096.500000,4783.250000,5966.000000
max,730.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,35.328347,42.044800,97.250000,34.000021,3410.000000,6946.000000,8714.000000

In [115]:
# NCPENDING: EDA
# NCPENDING: Data cleanup

dfBikes = dfBikes.drop(['instant','casual','registered', 'temp', 'dteday'], axis=1)

dfBikes.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,cnt
0,1,0,1,0,6,0,2,18.18125,80.5833,10.749882,985
1,1,0,1,0,0,0,2,17.68695,69.6087,16.652113,801
2,1,0,1,0,1,1,1,9.47025,43.7273,16.636703,1349
3,1,0,1,0,2,1,1,10.60610,59.0435,10.739832,1562
4,1,0,1,0,3,1,1,11.46350,43.6957,12.522300,1600

In [117]:
# Replace Categorical Values with meaningful names

import calendar

dfBikes['season'] = dfBikes['season'].map({1: 'spring', 2: 'summer', 3: 'fall', 4: 'winter'})

dfBikes['weekday'] = dfBikes['weekday'].map({1: 'monday', 2: 'tuesday', 3: 'wednesday', 4: 'thursday', 5: 'friday', 6:'saturday', 0: 'sunday'})

dfBikes['workingday'] = dfBikes['workingday'].map({1: 'workingday', 0: 'nonworkingday'})

dfBikes['holiday'] = dfBikes['holiday'].map({1: 'holiday', 0: 'nonholiday'})

dfBikes['weathersit'] = dfBikes['weathersit'].apply(lambda x: 'weathersit_' + str(x))

dfBikes['mnth'] = dfBikes['mnth'].apply(lambda x: calendar.month_abbr[x])

dfBikes.head(5)

weathersit_1    463
weathersit_2    246
weathersit_3     21
Name: weathersit, dtype: int64

,season,yr,mnth,holiday,weekday,workingday,weathersit,atemp,hum,windspeed,cnt
0,spring,0,Jan,nonholiday,saturday,nonworkingday,weathersit_2,18.18125,80.5833,10.749882,985
1,spring,0,Jan,nonholiday,sunday,nonworkingday,weathersit_2,17.68695,69.6087,16.652113,801
2,spring,0,Jan,nonholiday,monday,workingday,weathersit_1,9.47025,43.7273,16.636703,1349
3,spring,0,Jan,nonholiday,tuesday,workingday,weathersit_1,10.60610,59.0435,10.739832,1562
4,spring,0,Jan,nonholiday,wednesday,workingday,weathersit_1,11.46350,43.6957,12.522300,1600

In [118]:
# Replace the Categorical Variables with Dummy values

categorical_variables = ['mnth','weekday','season','weathersit']

for cat_var in categorical_variables:
    print('Setting dummy variables for ' + cat_var)

    cat_dummies_columns =  pd.get_dummies(dfBikes[cat_var], drop_first=True)

    dfBikes = pd.concat([dfBikes, cat_dummies_columns], axis=1)

    dfBikes.drop([cat_var], axis=1, inplace=True)

    print(dfBikes.head())

    print('------------------------------')


print('After replacing categorical variables with dummy values:')
print(dfBikes.head(10))

Setting dummy variables for mnth
   season  yr     holiday    weekday     workingday    weathersit     atemp  \
0  spring   0  nonholiday   saturday  nonworkingday  weathersit_2  18.18125
1  spring   0  nonholiday     sunday  nonworkingday  weathersit_2  17.68695
2  spring   0  nonholiday     monday     workingday  weathersit_1   9.47025
3  spring   0  nonholiday    tuesday     workingday  weathersit_1  10.60610
4  spring   0  nonholiday  wednesday     workingday  weathersit_1  11.46350

       hum  windspeed   cnt  ...  Dec  Feb  Jan  Jul  Jun  Mar  May  Nov  Oct  \
0  80.5833  10.749882   985  ...    0    0    1    0    0    0    0    0    0
1  69.6087  16.652113   801  ...    0    0    1    0    0    0    0    0    0
2  43.7273  16.636703  1349  ...    0    0    1    0    0    0    0    0    0
3  59.0435  10.739832  1562  ...    0    0    1    0    0    0    0    0    0
4  43.6957  12.522300  1600  ...    0    0    1    0    0    0    0    0    0

   Sep
0    0
1    0
2    0
3    0
4    0

[5 rows x 21 columns]
------------------------------
Setting dummy variables for weekday
   season  yr     holiday     workingday    weathersit     atemp      hum  \
0  spring   0  nonholiday  nonworkingday  weathersit_2  18.18125  80.5833
1  spring   0  nonholiday  nonworkingday  weathersit_2  17.68695  69.6087
2  spring   0  nonholiday     workingday  weathersit_1   9.47025  43.7273
3  spring   0  nonholiday     workingday  weathersit_1  10.60610  59.0435
4  spring   0  nonholiday     workingday  weathersit_1  11.46350  43.6957

   windspeed   cnt  Aug  ...  May  Nov  Oct  Sep  monday  saturday  sunday  \
0  10.749882   985    0  ...    0    0    0    0       0         1       0
1  16.652113   801    0  ...    0    0    0    0       0         0       1
2  16.636703  1349    0  ...    0    0    0    0       1         0       0
3  10.739832  1562    0  ...    0    0    0    0       0         0       0
4  12.522300  1600    0  ...    0    0    0    0       0         0       0

   thursday  tuesday  wednesday
0         0        0          0
1         0        0          0
2         0        0          0
3         0        1          0
4         0        0          1

[5 rows x 26 columns]
------------------------------
Setting dummy variables for season
   yr     holiday     workingday    weathersit     atemp      hum  windspeed  \
0   0  nonholiday  nonworkingday  weathersit_2  18.18125  80.5833  10.749882
1   0  nonholiday  nonworkingday  weathersit_2  17.68695  69.6087  16.652113
2   0  nonholiday     workingday  weathersit_1   9.47025  43.7273  16.636703
3   0  nonholiday     workingday  weathersit_1  10.60610  59.0435  10.739832
4   0  nonholiday     workingday  weathersit_1  11.46350  43.6957  12.522300

    cnt  Aug  Dec  ...  Sep  monday  saturday  sunday  thursday  tuesday  \
0   985    0    0  ...    0       0         1       0         0        0
1   801    0    0  ...    0       0         0       1         0        0
2  1349    0    0  ...    0       1         0       0         0        0
3  1562    0    0  ...    0       0         0       0         0        1
4  1600    0    0  ...    0       0         0       0         0        0

   wednesday  spring  summer  winter
0          0       1       0       0
1          0       1       0       0
2          0       1       0       0
3          0       1       0       0
4          1       1       0       0

[5 rows x 28 columns]
------------------------------
Setting dummy variables for weathersit
   yr     holiday     workingday     atemp      hum  windspeed   cnt  Aug  \
0   0  nonholiday  nonworkingday  18.18125  80.5833  10.749882   985    0
1   0  nonholiday  nonworkingday  17.68695  69.6087  16.652113   801    0
2   0  nonholiday     workingday   9.47025  43.7273  16.636703  1349    0
3   0  nonholiday     workingday  10.60610  59.0435  10.739832  1562    0
4   0  nonholiday     workingday  11.46350  43.6957  12.522300  1600    0

   Dec  Feb  ...  saturday  sunday  thursday  tuesday  wednesday  spring  \
0    0    0  ...         1       0         0        0          0       1
1    0    0  ...         0       1         0        0          0       1
2    0    0  ...         0       0         0        0          0       1
3    0    0  ...         0       0         0        1          0       1
4    0    0  ...         0       0         0        0          1       1

   summer  winter  weathersit_2  weathersit_3
0       0       0             1             0
1       0       0             1             0
2       0       0             0             0
3       0       0             0             0
4       0       0             0             0

[5 rows x 29 columns]
------------------------------
After replacing categorical variables with dummy values:
   yr     holiday     workingday     atemp      hum  windspeed   cnt  Aug  \
0   0  nonholiday  nonworkingday  18.18125  80.5833  10.749882   985    0
1   0  nonholiday  nonworkingday  17.68695  69.6087  16.652113   801    0
2   0  nonholiday     workingday   9.47025  43.7273  16.636703  1349    0
3   0  nonholiday     workingday  10.60610  59.0435  10.739832  1562    0
4   0  nonholiday     workingday  11.46350  43.6957  12.522300  1600    0
5   0  nonholiday     workingday  11.66045  51.8261   6.000868  1606    0
6   0  nonholiday     workingday  10.44195  49.8696  11.304642  1510    0
7   0  nonholiday  nonworkingday   8.11270  53.5833  17.875868   959    0
8   0  nonholiday  nonworkingday   5.80875  43.4167  24.250650   822    0
9   0  nonholiday     workingday   7.54440  48.2917  14.958889  1321    0

   Dec  Feb  ...  saturday  sunday  thursday  tuesday  wednesday  spring  \
0    0    0  ...         1       0         0        0          0       1
1    0    0  ...         0       1         0        0          0       1
2    0    0  ...         0       0         0        0          0       1
3    0    0  ...         0       0         0        1          0       1
4    0    0  ...         0       0         0        0          1       1
5    0    0  ...         0       0         1        0          0       1
6    0    0  ...         0       0         0        0          0       1
7    0    0  ...         1       0         0        0          0       1
8    0    0  ...         0       1         0        0          0       1
9    0    0  ...         0       0         0        0          0       1

   summer  winter  weathersit_2  weathersit_3
0       0       0             1             0
1       0       0             1             0
2       0       0             0             0
3       0       0             0             0
4       0       0             0             0
5       0       0             0             0
6       0       0             1             0
7       0       0             1             0
8       0       0             0             0
9       0       0             0             0

[10 rows x 29 columns]

Index(['yr', 'holiday', 'workingday', 'atemp', 'hum', 'windspeed', 'cnt',
       'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct',
       'Sep', 'monday', 'saturday', 'sunday', 'thursday', 'tuesday',
       'wednesday', 'spring', 'summer', 'winter', 'weathersit_2',
       'weathersit_3'],
      dtype='object')

In [119]:
dfBikes.columns

Index(['yr', 'holiday', 'workingday', 'atemp', 'hum', 'windspeed', 'cnt',
       'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct',
       'Sep', 'monday', 'saturday', 'sunday', 'thursday', 'tuesday',
       'wednesday', 'spring', 'summer', 'winter', 'weathersit_2',
       'weathersit_3'],
      dtype='object')